/* start header*/
.header {

    box-shadow: 0px 1.6474391222000122px 8.23719596862793px rgba(0, 0, 0, 0.1);

    padding: 22px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffff;


}

.nav ul {
    gap: 16px;
    display: flex;

}

.header .logo {
    display: flex;
    align-items: center;
    gap: 2.6px;
    color: var(--mainColor);
}

.header .logo img {
    width: 33px;
}

.header .nav a {
    color: #101928;
}

.header .links .a-one {
    font-family: var(--subFont);
    border: 1px var(--mainColor) solid;
    padding: 10px 20.18113136291504px;
    border-radius: 7px;
    color: var(--mainColor);
    margin-right: 5px;
}

.header .links .a-tow {
    background-color: var(--mainColor);
    color: #ffffff;
    border: 1px var(--mainColor) solid;
    padding: 10px 20.18113136291504px;
    border-radius: 7px;
    font-family: var(--subFont);
}
/* end header*/
/* start Testimonials*/
.Testimonials {
    margin-bottom: 50px;
}
.Testimonials .row {
    gap: 40px;
    flex-wrap: wrap;

}
.Testimonials h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.Testimonials .Testimonial .user img{
    width: 40px;
    height: 40px;
}
 .Testimonial  .user {
    display: flex;
    gap: 20px;
 }
 .Testimonial  .user  span{
     color: #969696;
     font-size: 13px;

 }
 .rate{
    width: 100px;
height: 20px;
margin-bottom: 15px;
 }
 .Testimonial p{
    color: #4747478c;
 }
 .Testimonial {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc(( 100% - 40px ) / 2);
    align-items: flex-start;
    padding: 20px;
    box-shadow:  0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);
   
    position: relative;
    
 }
 .Testimonial:after{
    content: " ";
    border-top: 40px solid #a3a3a3;
    border-left: 40px solid transparent;
    border-bottom: 40px solid transparent;
    position: absolute;
    top: 0;
    right: 0;

 }
/* start footer */
.footer{
    background-color: #393E46 ;
    color: #ffffff;
    padding: 50px 0;
    
    
}
.footer a{
    color: #ffffff;
}
.footer .row{
    gap: 40px;
}

.footer .start,.end{
    width: calc((100% - 40px) / 2);
}
.footer .start{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer .start .logo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;

}
.footer .start .logo img{
    width: 35px;
}
.footer .start .logo a{
    font-size: 14px;
}
.footer .start p{
    color: #f4f4f4;
    font-size: 14px;
    font-weight: 200;

}
.footer .start .icons{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}
.footer .start .icons img{
    border: 1px solid #ffffff;
    width: 15px;
    height: 15px;
    padding: 10px;
    box-sizing: content-box;
    

}
.footer .end .row{
    justify-content: space-evenly;
    align-items: flex-start;

}
.footer .end .footer-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.footer .end .footer-item ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
/* end footer*/